MyFirstGame/Library/ShaderCache/
MyFirstGame/Library/il2cpp_cache/
MyFirstGame/Library/PackageCache/
MyFirstGame/Library/TempArtifacts/
MyFirstGame/Library/webgl_cache/
MyFirstGame/Library/StateCache/
MyFirstGame/Library/PlayerDataCache/
MyFirstGame/Logs/
